section#contact
  .inner
    section
      form(method='post', action='#')
        .field.half.first
          label(for='name') Name
          |
          input#name(type='text', name='name')
        |
        .field.half
          label(for='email') Email
          |
          input#email(type='text', name='email')
        |
        .field
          label(for='message') Message
          |
          textarea#message(name='message', rows='6')
        |
        ul.actions
          li
            input.special(type='submit', value='Send Message')
          |
          li
            input(type='reset', value='Clear')
    |
    section.split
      section
        .contact-method
          span.icon.alt.fa-envelope
          |
          h3 Email
          |
          a(href='#') dlundsten@gmail.com
      |
      section
        .contact-method
          span.icon.alt.fa-phone
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h3 Phone
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          span (000) 000-0000 x12387
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      section
        .contact-method
          span.icon.alt.fa-home
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h3 Address
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          span
            | 1234 Somewhere Road #5432
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;United States of America
// Footer
footer#footer
  .inner
    ul.icons
      li
        a.icon.alt.fa-twitter(href='#')
          span.label Twitter
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li
        a.icon.alt.fa-facebook(href='#')
          span.label Facebook
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li
        a.icon.alt.fa-instagram(href='#')
          span.label Instagram
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li
        a.icon.alt.fa-github(href='#')
          span.label GitHub
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      li
        a.icon.alt.fa-linkedin(href='#')
          span.label LinkedIn
    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
    ul.copyright
      li &copy; Untitled
      li
        | Design:
        a(href='https://html5up.net') HTML5 UP