header#header.alt

    a.logo(href='/')
        strong climbLog
        |
        span by David Lundsten
    |
    nav
        a(href='#menu') Menu
    br
// Menu
nav#menu
    ul.links
        li
            a(href='/') Home

        li
            a(href='landing.html') Landing

        li
            a(href='generic.html') Generic
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        li
            a(href='elements.html') Inspiration
        li
            a(href='elements.html') Contact
    |
    ul.actions.vertical
        li
            a.button.special.fit(href='#') Get Started
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        li
            a.button.fit(href='/login') Log In
            br