extends layout

block content
    section#banner.major
        .inner
            header.major
                h1 Hi, im ClimbLog222
            .content
                p
                    | A BETTER THAN THE AVERAGE EXCEL DOCUMENT STYLED GUIDELOG
                    |
                    br
                    |                                CREATED BY DAVID LUNDSTEN
                ul.actions
                    li
                        a.button.next.scrolly(href='#one') Get Started
    // Main
    #main
        // One
        section#one.tiles
            article
                span.image
                    img(src='images/bild1.jpg', alt='')
                header.major
                    h3
                        a.link(href='landing.html') Ski
                    p Ipsum dolor sit amet
            article
                span.image
                    img(src='images/bild2.jpg', alt='')
                header.major
                    h3
                        a.link(href='landing.html') Run
                    p feugiat amet tempus
            article
                span.image
                    img(src='images/bild3.png', alt='')
                header.major
                    h3
                        a.link(href='landing.html') Climb
                    p Lorem etiam nullam
            article
                span.image
                    img(src='images/bild4.jpg', alt='')
                header.major
                    h3
                        a.link(href='landing.html') Party
                    p Nisl sed aliquam

        // Two
        section#two
            .inner
                header.major
                    h2 Massa libero
                p
                    | Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
                ul.actions
                    li
                        a.button.next(href='landing.html') Get Started

